.square {
  content: none;
  background-color: beige;

  border: 1px black solid;
}

.board {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px black solid;
  max-width: 500px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
